
/*****************globals*************/
body {
    overflow-x: hidden; }

img {
    max-width: 100%; }

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 2560px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.card {
    padding: 3em;
    line-height: 1.5em;
    border: none}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: initial } }

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }


.product-title, .price {
    text-transform: none;
}
.price span {
    color: #ee4d2d;
}

.product-title, .price {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }
.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }
.add-to-cart {
    background: #fff;
    color: #ee4d2d;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 16px;
    width: 100%;
    min-width: 216px;
    text-align: center;
    cursor: pointer;
    border: solid 1px #e2231a;
    border-radius: 5px;
}

.buy-now {
    background: #ee4d2d;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover, .buy-now:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.brown {
    background: #864128; }

.black {
    background: #231b1b; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
ul > li{
    margin-right:25px;
    font-weight:lighter;
    cursor:pointer}
li.active{
    border-bottom:3px solid silver;}

.item-photo{
    display:flex;
    justify-content:center;
    align-items:center;
    border-right:1px solid #f6f6f6;}
.menu-items{
    list-style-type:none;
    font-size:11px;
    display:inline-flex;
    margin-bottom:0;
    margin-top:20px}
.btn-success{
    width:100%;
    border-radius:0;}
.section{
    width:100%;
    margin-left:-15px;
    padding:2px;
    padding-left:15px;
    padding-right:15px;
}
.title-price{
    margin-top:30px;
    margin-bottom:0;
    color:black}
.title-attr{
    margin-top:0;
    margin-bottom:0;
    color:black;}
.btn-minus{
    cursor:pointer;
    font-size:7px;
    display:flex;
    align-items:center;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border:1px solid gray;
    border-radius:2px;
    border-right:0;
    color: #000000;
}
.btn-plus{
    cursor:pointer;
    font-size:7px;
    display:flex;
    align-items:center;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border:1px solid gray;
    border-radius:2px;
    border-left:0;
    color: #000000;

}

div.section > div {
    width:100%;
    display:inline-flex;}
div.section > div > input {
    margin:0;
    padding-left:5px;
    font-size:10px;
    padding-right:5px;
    max-width:18%;
    text-align:center;}
.attr,.attr2{cursor:pointer;
    margin-right:5px;
    height:20px;
    font-size:10px;
    padding:2px;
    border:1px solid gray;
    border-radius:2px;}
.attr.active,.attr2.active{
    border:1px solid orange;}

@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0 !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }
    .section{width:104%;}
    .menu-items{padding-left:0;}
}
